<!--Reactive Form Template -->
<div class="container mb-5">
    <form [formGroup]="newOfficeForm" (submit)="updateOffice()">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="">Location</label>
            <input type="text" class="form-control" name="location" formControlName="location">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="">Tell Number</label>
            <input type="text" class="form-control" name="tellNumber" formControlName="tellNumber">
        </div>
        <div class="form-group">
            <label for="">Max Occupants</label>
            <input type="text" class="form-control" name="maxOccupants" formControlName="maxOccupants">
        </div>
        <div class="form-group">
            <label for="">Color</label>
            <input type="text" class="form-control" name="color" formControlName="color">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-secondary" routerLink='/home'>Cancel</button>
        </div>
    </form>
</div>
