<!-- Office Details -->
<div class="ui card" *ngFor="let office of officeView">
    <div class="content">
      <div class="header ml-auto">
          <button class="ui labeled icon button">
            <i class="left arrow icon"></i>
            Back
          </button>
          {{office.name}} 
        </div>
    </div>
    <div class="content">
      <h4 class="ui sub header">{{office.location}}</h4>
      <h4 class="ui sub header">{{office.email}}</h4>
      <h4 class="ui sub header">{{office.tellNumber}}</h4>
      <h4 class="ui sub header">{{office.maxOccupants}}</h4>
    </div>
</div>

<!-- Search Bar -->
<div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search employee...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
</div>

<!-- Menu -->
<div class="ui menu">
    <div class="header item">
        Staff Members 8/9
    </div>
    <div class="item ml-auto">
        <button class="btn btn-primary">Add Staff</button>
    </div>
</div>

<!-- Staff List -->
<div class="ui middle aligned divided list">
    <div class="item" *ngFor="let staff of staffList">
      <div class="right floated content">
        <button class="ui labeled icon green button">
            <i class="edit icon"></i>
            Edit
          </button>
          <button class="ui right labeled icon red button">
            <i class="delete icon"></i>
            Delete
          </button>
      </div>
      <img class="ui avatar image">
      <div class="content">
        {{staff.firstName}} {{staff.lastName}}
      </div>
    </div>
    





