<!-- Office Details -->
<div class="container">
  <div class="ui card custom-border" *ngFor="let office of officeView">
    <div class="content">
      <div class="header ml-auto">
          <button class="ui tiny icon button" routerLink="/home">
            <i class="left arrow icon"></i>
          </button>
          <span class="header-text">{{office.name}}</span> 
        </div>
    </div>
    <div class="content office-info">
      <h4 class="ui sub header">Address: {{office.location}}</h4>
      <h4 class="ui sub header">Email: {{office.email}}</h4>
      <h4 class="ui sub header">Tell Number: {{office.tellNumber}}</h4>
      <h4 class="ui sub header">Max Occupants: {{office.maxOccupants}}</h4>
    </div>
  </div>
</div>

<!-- Filtered Search Bar -->
<div class="container">
  <div class="ui search">
    <div class="ui icon input">
      <input type="text" placeholder="Search employee..." [(ngModel)]="term">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>

<!-- Menu -->
<div class="container">
  <div class="ui menu" *ngFor="let office of officeView">
    <div class="header item">
        Staff Members 8/{{office.maxOccupants}}
    </div>
    <div class="item ml-auto">
        <button class="btn btn-primary" routerLink='/office/create-staff/{{office.id}}'>ADD STAFF</button>
    </div>
  </div>
</div>

<!-- Staff List -->
<div class="container">
  <div class="ui middle aligned divided list">
    <div class="item" *ngFor="let staff of staffList | filter:term">
      <div class="right floated content">
        <button class="btn btn-success btn-sm" routerLink='/office/update-staff/{{staff.id}}'>
            Edit
          </button>
          <button class="btn btn-danger btn-sm" routerLink='/office/delete-staff/{{staff.id}}'>
            Delete
          </button>
      </div>
      <i class="user circle icon"></i>
      <div class="content">
        {{staff.firstName}} {{staff.lastName}}
      </div>
    </div>
</div>
    





