 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand">Office Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <button type="button" class="btn btn-light">Add Office</button>
            </ul>
        </div>
    </div>
</nav>

<!--  Office containers -->
<div class="container pt-4" *ngFor="let home of homeDetails">
    <div class="row">
      <div class="col-sm-2 rounded-left border border-dark">
        1 of 3 
      </div>
      <div class="col-sm-8 border border-dark rounded-right">
        <div class="row pl-4">
            <h3>{{home.Name}}</h3>
        </div>
        <div class="row pl-4">
            <h4>{{home.Location}}</h4>
        </div>
        <div class="row pl-4">
            <h6>{{home.Email}}</h6>
            <h6 class="ml-auto pr-2">{{home.TellNumber}}</h6>
        </div>
      </div>
    </div>
</div>



