 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand">Office Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a [routerLink]="['/create-office']"><button type="button" class="btn btn-light">Add Office</button></a>
            </ul>
        </div>
    </div>
</nav>

<!--  Office containers -->
<div class="container pt-4 pb-4" >
    <div class="row pb-5" *ngFor="let office of officeList">
      <div class="col-sm-2 rounded-left custom-border" style="text-align: center;">
        <i class="users icon people-icon"></i>
        <p class="emp-number">1/{{office.maxOccupants}}</p>
      </div>
      <div class="col-sm-8 rounded-right custom-border">
        <div class="row pl-4">
            <h3>
                <a routerLink="/office/view-staff/{{office.id}}">{{office.name}}</a>
            </h3>
            <div class="ml-auto">
                <button class="btn btn-success btn-sm" routerLink='/update-office/{{office.id}}'>
                    Edit
                  </button>
                  <button class="btn btn-danger btn-sm" routerLink='/delete-office/{{office.id}}'>
                    Delete
                  </button>
              </div>
        </div>
        <div class="row pl-4">
            <h4>{{office.location}}</h4>
        </div>
        <div class="row pl-4">
            <h6>{{office.email}}</h6>
            <h6 class="ml-auto pr-1">{{office.tellNumber}}</h6>
        </div>
      </div>
    </div>
</div>


